<template name="pokemons">
<head>
	<title>Pokemon Team Analyzer</title>
</head>
<body>
{{> loginButtons}}

	<div class="container-fluid">
		<h1>Meteor Pokemon Team Analyzer</h1>

		<div class="row">

			<div class="col-xs-2">
				<select class="pokemonSelect" id="pokemon1" >
					{{#each pokemons}}
						{{> pokemon}}
					{{/each}}
				</select>
			</div>
			<div>
				{{member1}}
			</div>

			<div class="col-xs-2">
				<select class="pokemonSelect" id="pokemon2" >
					{{#each pokemons}}
						{{> pokemon}}
					{{/each}}
				</select>
			</div>

			<div class="col-xs-2">
				<select class="pokemonSelect" id="pokemon3" >
					{{#each pokemons}}
						{{> pokemon}}
					{{/each}}
				</select>
			</div>

			<div class="col-xs-2">
				<select class="pokemonSelect" id="pokemon4" >
					{{#each pokemons}}
						{{> pokemon}}
					{{/each}}
				</select>
			</div>

			<div class="col-xs-2">
				<select class="pokemonSelect" id="pokemon5" >
					{{#each pokemons}}
						{{> pokemon}}
					{{/each}}
				</select>
			</div>

			<div class="col-xs-2">
				<select class="pokemonSelect" id="pokemon6" >
					{{#each pokemons}}
						{{> pokemon}}
					{{/each}}
				</select>
				<button class="btn btn-xs btn-success" id="button">Save</button>
			</div>
		</div>
	</div>
</body>
</template>